
<div  class="container-xl">
  <div class="table-responsive">
      <div class="table-wrapper">
          <div class="table-title">
              <div class="row">
                  <div class="col-sm-6">
                      <h2><b>Contenus</b></h2>
                  </div>
                  <div class="col-sm-6">
                      <a  class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span></span></a>
                      <a   class="btn btn-primary" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span></span></a>
                      <a  class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span></span></a>  						
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

  <div class="custom-card">
    <div  *ngFor="let section of __filteredSessionGestionnaire__" class="custom-card">
        
        <div  *ngFor="let contenu of ContenusFiltres"  >
          <div [hidden]="contenu.section !== section.id">
          <div class="form-group"(click)='onElementClick(contenu.id)' >
            <label ><span [innerHTML]="section.nom_section"></span></label>
            <ckeditor *ngIf="section.id === evenementClique" id="contentEditor" [(ngModel)]="section.nom_section" [editor]="Editor" class="custom-editor"></ckeditor>
            <ckeditor *ngIf="contenu.id === evenementClique" id="descriptionEditor" [(ngModel)]="contenu.description" [editor]="Editor" class="custom-editor"></ckeditor>
          </div>
          <div >
          </div>
        </div>
    </div>
    </div>
    <button (click)='sauvegarderContenus()'>Sauvegarder</button>
  </div>
  
  