

<body>

    <div  class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">


                <div class="navbar bg-body-tertiary">
                    <div class="container-fluid">
                      <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      </form>
                    </div>
                </div>
                <i class="fa-solid fa-folder-open"></i>
                <i class="fas fa-trash"  style="font-size: 24px; color: #ff5733;"></i>
               
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Domaine(s)</th>
                        <th scope="col">actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let domaine of __domaines__">
                        <th scope="row">                                
                            <div (click)="selecterDomaine(domaine.id)" >              
                                <i class="circle" [ngClass]="{'bi bi-circle': selectedDomaineIndex !== domaine.id,'bi bi-circle-fill': selectedDomaineIndex === domaine.id}"></i>
                            </div>
                        </th>

                        <td>{{domaine.nom_domaine}}</td>
                        

                        <td>
                            <i class="fa-solid fa-folder-open"></i>
                            <i class="fas fa-trash"  style="font-size: 24px; color: #ff5733;"></i>
                        </td>
                        
                      </tr>
                    </tbody>
                  </table>

                <div *ngIf=" !__addDomaine__">
                <table class="table">
                    
                    <tbody>
                         
                        <tr class='tableau' *ngFor='let domaine of __domaines__'>
                            <td >
                                <div (click)="selecterDomaine(domaine.id)" > 

                                        
                                    <i class="circle"
                                          [ngClass]="{
                                            'bi bi-circle': selectedDomaineIndex !== domaine.id,
                                            'bi bi-circle-fill': selectedDomaineIndex === domaine.id
                                          }" 
                                        ></i>
                                </div>
                                    
                            </td>
                           <td >{{domaine.nom_domaine}}</td>
                            <td *ngIf='selectedDomaineIndex === domaine.id'>
                                <a *ngIf='__iconVoirDomaine__' (click)='onSelectDomaine(domaine.id)' class="matiere" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="matiere"><i class="bi bi-chevron-right"></i></i></a>
                                <a *ngIf='__iconVoirDomaine__'  class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                            </td>
                        </tr>					
                    </tbody>
                </table>
                </div>
            </div>
        </div>        
    </div>
    <!-- Edit Modal HTML -->


       <div *ngIf='__addDomaine__==true' class='fixed'>           
            <div class="container container-l d-flex justify-content-center align-items-center min-vh-10">
                <div class="col-md-8 col-lg-6">
                    <form [formGroup]="DomaineForm" (ngSubmit)="onSubmit()">
                        <!-- Nom Complet -->

                        <div class="row mb-3 align-items-center">
                            <label for="nom" class="col-sm-4 col-form-label"> Title</label>
                            <div class="col-sm-8 input-group">
                                <span class="input-group-text"><i class="bi bi-file-earmark-plus"></i></span>
                                <input type="text" id="nom_domaine" formControlName="nom_domaine" class="form-control" placeholder="Titre du domaine">
                            </div>
                        </div> 
                        <div class='nav'>        
                            <button type="submit" class="btn btn-primary mb-3">Ajouter</button>
                            <button  (click)=" OnAdd()" type="submit" class="btn btn-danger  mb-3 nav-item">Annuler</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>        
</body>
    


  
  